@import '../../../styles/abstracts/constants';

.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  margin-top: 70px;
  min-height: calc(100vh - $horizontal-menu-height - $trafficlight-height);
  width: 100%;
}
