$primary-color: #1c1404;
$secondary-color: #eecd8a;
$tertiary-color: #adacab;
$light-tertiary-color: #e6e6e6;
$background-color: #F0F2F5;
$pink-color: #ffe0e0;
$black-color: #000000;
$red-color: #c40021;


$desktop: 1920px;
$desktop-part: 1600px;
$half-desktop: 576px;

$trafficlight-height: 28px;
$horizontal-menu-height: 70px;
