@import '../../styles/abstracts/constants';

.page-container, .page-container-edit {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  height: 300px;
  
  .form {
    margin-top: 24px;
    width: 40%;
    min-width: 700px;
    .button-container {
      display: flex;
      justify-content: end;
      gap: 16px;
      margin-bottom: 24px;
    }
  }

  #create-button {
    background: black;
    box-shadow: none;
    &:hover {
      background: white;
      border-color: black;
      color: black;
    }
  }
}

.page-container-edit { 
  overflow-y: hidden;
}
