@import '../../styles/abstracts/constants';

.navigation {
  width: 100%;
  margin: 0 auto;
  padding-top: 20px;
  position: fixed;
  display: flex;
  justify-content: center;
}

.menu-root {
  background: white;
  z-index: 999;
  margin: 0 auto;
  .menu-item {
    user-select: none;
    padding: 13px 20px;
    font-size: 1.8rem;
    font-weight: 500;
    display: inline-block;
    vertical-align: bottom;
    
    &::after {
      content: "";
      border-color: transparent;
      transition: border-color .25s ease-in-out;
    }

    &.selected, &:hover {
      position: relative;
      cursor: pointer;

      &::after { 
        position: absolute;
        display: block;
        bottom: 0;
        inset-inline: 10%;
        width: 80%;
        height: 0;
        content: "";
        border-bottom: 2px solid;
        border-color: $red-color;
      } 
    }
    &.selected { 
      color: $red-color;
    }
  }
}

.logout {
  margin-right: 28px;
  > *:not(p) { 
    cursor: pointer;
    &:hover {
      transition: all 0.3s;
      color: $red-color;
    }
  }
}

.container {
  right: 0;
  position: absolute;
  padding-top: 12px;
  display: flex;
}

.username {
  display: inline-block;
  font-size: 1.4rem;
  user-select: none;
  width: 80px;
  margin-right: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}
