@import '../../styles/abstracts/constants';

:global {
  .ant-badge {
    display: flex;
    align-items: center;

    .ant-badge-status-dot {
      margin-top: 2px;
    }
  }
}

.DefectManagmentView {
  .content {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .table {
    width: 100%;
    height: 100%;
    a {
      color: $black-color;
      border-bottom: 1px solid $black-color;
      &.action-link {
        border-bottom: none;
      }
    }
  }
}

.filter-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 24px;
  flex-direction: row;

  >* {
    flex-grow: 1;
    border-radius: 6px;
  }

  .filter-subcontainer {
    flex-grow: 0;
    display: flex;
    justify-content: space-between;
  }

  .search-subcontainer,
  .filter-subcontainer {
    font-size: 1.4rem;
    background: white;
    margin: 24px 0;
    padding: 16px 18px;

    .button-container {
      display: flex;

      button {
        &:last-child {
          background: $red-color;
          color: white;
          &:hover {
            background: white;
            border-color: black;
            color: black;
          }
          &:active {
            background: $light-tertiary-color !important;
          }
        }
        &:first-child{ 
          &:hover {
            border-color: $primary-color;
          } 
          &:active {
            background: $light-tertiary-color !important;
          }
        }       
        
        box-shadow: 0 2px 0 rgba(0, 0, 0, 0.02);
        transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
        margin-left: 8px;
        border: 1px solid $light-tertiary-color;
        line-height: 2.2rem;
        border-radius: 6px;
        padding: 4px 15px;
      }
    }
  }
}

@media screen and (max-width: $desktop-part) {
  .filter-container {
    gap: 0;
    margin: 24px 0;
    padding: 16px 18px;
    border-radius: 6px;
    background: white;

    .search-subcontainer,
    .filter-subcontainer {
      padding: 0;
      margin: 0;
    }

    .filter-subcontainer {
      margin-left: 16px;
    }
  }

  .search-container {
    flex-grow: 1;
  }
}

.action-container {
  cursor: pointer;
  display: flex;
  gap: 8px;
  margin-left: 1px;
}
