@import '../../styles/abstracts/constants';

.RoundedButton {
  margin: 30px 0;
  padding: 10px 0;
  border-radius: 4px;
  border: 1px solid $black-color;
  background: white;
  font-size: 1.6rem;
  transition: all 0.3s;
  &:hover {
    background: $black-color !important ;
    color: white;
  }
}
